@import "./fontawesome/scss/fontawesome.scss";
@import "./fontawesome/scss/solid.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap");

$primary: #f96b1c;
$midtone: #ef4009;
$secondary: #c3160b;
$text: #1a3351;
$light: #ebedf0;
$gradient: linear-gradient(90deg, $primary, $midtone, $secondary);
$menu-height: 80px;

*,
:before,
:after {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: $text;
  background-color: $light;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: $secondary;
  &:hover {
    color: $primary;
  }
}

.logo {
  max-width: 400px;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

nav {
  text-align: center;
  position: fixed;
  background-color: $light;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    display: inline-block;
    padding: 1em;
    margin: 1em;
    @media (max-width: 475px) {
      padding: 0;
    }
    a {
      text-transform: uppercase;
      font-weight: bold;
      color: $text;
    }
  }
}

.text-gradient,
.text-gradient:hover,
.menu a.active,
.menu a.active:hover {
  background: $gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#app {
  width: 100%;
  max-width: 960px;
  margin: $menu-height auto 0 auto;
  padding: 3em;
  background-color: white;
  box-shadow: 0 100px 100px transparentize($text, 0.9);
  border-radius: 30px;
  flex: 1;

  @media (max-width: 1024px) {
    border-radius: 0;
  }

  @media (max-width: 475px) {
    padding: 1em;
  }
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

ul.team {
  padding: 0;
  margin: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2em;

  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  .foto {
    padding: 2em;
    @media (max-width: 768px) {
      padding: 0 0 2em 0;
    }
    a {
      display: block;
      position: relative;
      line-height: 0;
      border-radius: 100%;
      img {
        border-radius: 100%;
        position: relative;
      }
      &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 0;
        margin: -6px;
        border-radius: inherit;
        background: $gradient;
      }
    }
  }

  .name {
    text-align: center;
  }
}

.member {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3em;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }

  .foto {
    img {
      border-radius: 30px;
    }
  }

  .info {
    margin-bottom: 2em;
    h4 {
      margin-top: 0;
      opacity: 0.7;
    }
  }
}

.sticker {
  width: 100px;
}

footer {
  padding: 1em;
  text-align: center;
  flex-shrink: 0;
  img {
    height: 40px;
    opacity: 0.5;
  }
}

ul.projects {
  padding: 0;
  margin: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3em;

  @media (max-width: 600px) {
    grid-template-columns: 1fr;
  }

  li {
    a {
      display: block;
      line-height: 0;
      padding: 3em;
      background-color: $light;
      border-radius: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      transition: background-color 250ms ease-in-out;

      &:hover {
        background-color: darken($light, 5%);
      }
    }

    img {
      width: 100%;
      max-height: 60px;
    }
  }
}

.home-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3em;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.react-slideshow-fade-images-wrap img {
  margin: 0 auto;
  display: block;
}

#role-filter {
  list-style: none;
  margin: 0 0 2em 0;
  padding: 0;
  text-align: center;

  li {
    display: inline-block;
    margin: 0.25em;
    padding: 0.5em 0.75em;
    border: 2px solid $primary;
    border-radius: 99em;
    cursor: pointer;
    &.active {
      color: white;
      background-image: $gradient; 
    }
  }
}
